/*  your css code here. If applicable */
.container{
    background-color:rgb(211, 211, 211);
    padding: 10px;
/* 	display:flex; */
}
.container>ul{
	display:flex;
}
.container>ul>li{
	
    list-style-type: none;
    display: inline;
    margin-right: 1rem;
}